<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Base URL -->
		<add key="app_url" value="https://www.888casino.ro/"/>

		<!-- Valid Credentials-->
		<add key="valid_username" value="Amazing91009"/>
		<add key="valid_password" value="Testing1234"/>
	</appSettings>
</configuration>